<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Phone</title>
</head>
<body>
    <h1>Phone shopping</h1>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>model</th>
            <th>color</th>
            <th>ram</th>
            <th>memory</th>
            <th>price</th>
        </tr>
        <tr>
            <th th:text="${phone.getId()}"></th>
            <th th:text="${phone.getModel()}"></th>
            <th th:text="${phone.getColor()}"></th>
            <th th:text="${phone.getRam()}"></th>
            <th th:text="${phone.getMemory()}"></th>
            <th th:text="${phone.getPrice()}"></th>
        </tr>
    </table>
    <div>
        <form action="/api/phone">
            <div>
                <input type="submit" value="Back">
            </div>
        </form>
    </div>
</body>
</html>